<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Freezing Ninja | About</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      This is Freezing Ninja. Now boobs or GTFO.
    </p>
  </body>
</html>
