<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Freezing Ninja | Home</title>
  </head>
  <body>
    <h1>Freezing Ninja</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
